*{
margin:0;
padding:0;
box-sizing: border-box;
}
body{
    background-color: white;
    color:black;
    font-family: sans-serif;
}
.bg{
    background-color: black;
}
.navBar{
   width: 100%;
   display: flex;
   margin: auto;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   z-index: -1;
}
.navBar ul{
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    
}
.navBar ul li{
    margin-left: 12px;
    list-style-type: none;
    position: relative;
    display: inline-block;

}
.navBar ul li a{
    text-decoration: none;
    color: rgb(146, 145, 145);
    font-weight: 600;
    cursor: url(cursor.cur),auto;
}
.navBar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navBar ul li:hover::after{
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.cont{
    display:flex;
    width: 30%;
    height: 169px;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: white;
    padding: 30px 15px;
    position: relative;
    top: 80px;
    border: 1px solid gray;
    border-radius: 4%;
    box-shadow: 0px 0px 10px black;
}
.par{
    display: flex;
    align-items: start;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: auto;
    height: auto;
}
.cont input{
    padding: 9px 25px;
    position: relative;
    right: 60px;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid gray;
    cursor: url(cursor.cur),auto;
}
.cont:focus{
    outline: none;
}
.cont button{
    padding: 9px 25px;
    margin-right: 20px;
}
.cont input,
button{
    margin-top: 15px;
    border-radius: 7%;
}
.cont button{
    display:flex;
    position: absolute;
    top: -50px;
    right: 5%;
    border: 1px solid gray;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: black;
    position: relative;
    cursor: url(cursor.cur),auto;
    overflow: hidden;
    z-index: 1;
    left: 37%;
    box-shadow: 0px 2px 10px black;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 1%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    box-shadow: 0px 2px 10px green;
}
#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 38%;
    justify-content: space-evenly;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: italic;
}
#box #stats{
    margin: 10px 30px;
    height: auto;
    color: green;
    text-transform: uppercase;
    font-weight: bold;
}
#box #title{
    margin: 20px 20px;
}